In [ ]:
""" DATA ANALYTICS WITH PYTHON TASK 1
to perform basic operations on LIST,DICTIONARY and SET """

In [2]:
# CREATING A LIST 
My_List = [ 1,2,3,4,5,6]

In [3]:
print(My_List)

[1, 2, 3, 4, 5, 6]

In [4]:
# ADDING ELEMENT FROM LIST
My_List.append(7)

In [5]:
print(My_List)

[1, 2, 3, 4, 5, 6, 7]

In [6]:
# DELETING ELEMENT TO LIST
My_List.remove(7)

In [7]:
print(My_List)

[1, 2, 3, 4, 5, 6]

In [26]:
# MODIFYING THE LIST 
My_List.remove(1)
My_List.insert(0,15)

In [27]:
print(My_List)

[15, 2, 3, 4, 5, 6]

In [28]:
#MODIFYING THE LIST ELEMENTS
My_List[1]= 15

In [30]:
print(My_List)

[15, 15, 3, 4, 5, 6]

In [31]:
# CREATING A DICTIONARY
My_Dy = { 'First_Name':'Amit','middle_Name':'kumar', 'Designation':'Data_Analsys_intern','Gender':'Male', 'City':'Bhopal' }

In [32]:
print(My_Dy)

{'First_Name': 'Amit', 'middle_Name': 'kumar', 'Designation': 'Data_Analsys_intern', 'Gender': 'Male', 'City': 'Bhopal'}

In [39]:
# ADDING ELEMENTS TO DICTIONARY
My_Dy['Age'] ='male'

In [40]:
print(My_Dy)

{'First_Name': 'Amit', 'middle_Name': 'kumar', 'Designation': 'Data_Analsys_intern', 'Gender': 'Male', 'City': 'Bhopal', 'Age': 'male'}

In [41]:
# DELETING ELEMENTS FROM DICTIONARY
del My_Dy['middle_Name']

In [45]:
print(My_Dy)

{'First_Name': 'Amit', 'Designation': 'Data_Analsys_intern', 'Gender': 'Male', 'City': 'Bhopal', 'Age': 'male'}

In [52]:
# MODIFYING ELEMENTS FROM DICTIONARY
My_Dy["Age"] = 25

In [53]:
print(My_Dy)

{'First_Name': 'Amit', 'Designation': 'Data_Analsys_intern', 'Gender': 'Male', 'City': 'Bhopal', 'Age': 25}

In [2]:
# CREATING A SET
my_set = {1, 2, 3}
print(my_set)

{1, 2, 3}

In [3]:
# ADDING ELEMENT TO SET
my_set.add(4)

In [4]:
print(my_set)

{1, 2, 3, 4}

In [5]:
# REMOVING ELEMENT FROM SET
my_set.remove(4)

In [6]:
print(my_set)

{1, 2, 3}

In [7]:
# MODIFYING A SET
my_set.discard(1)
my_set.add(0)
print(my_set)

{0, 2, 3}

In [ ]:
# HERE TASK 1 GETS COMPLETED